@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <a class="btn btn-primary" asp-controller="Home" asp-action="ShowAll" style="margin:10px">Show all countries</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="SearchPanel" style="margin:10px">Search by country name</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="SearchPanelAPI" style="margin:10px">Search by API url</a>
</div>
