@{
    ViewData["Title"] = "Search";
}

<form method="post">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="countryName" placeholder="Input country name" style="width:230px">
                <button type="submit" class="btn" style="color:dodgerblue"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>